<%= render "landscape"%>
<div class="drip"></div>
<div class="container">
  <div class="card animate__animated animate__fadeInUp">
    <%= image_tag "avatar.jpg", alt: "avatar", class: "avatar" %>
    <h2>Paulyn Ompico</h1>
    <h5>Web Developer</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ipsum magna, bibendum et consequat eu, pretium vel diam. Curabitur eget nulla vehicula, dictum arcu ac, facilisis nulla. Ut condimentum mattis sollicitudin. Nunc vitae turpis sed sapien scelerisque sollicitudin. Nulla et porta leo. Duis condimentum porttitor sapien, sed bibendum diam volutpat in. Aliquam in volutpat diam. Integer tincidunt, ipsum ac ultricies blandit, tortor augue suscipit massa, non interdum ante enim vel ex. In faucibus maximus turpis nec molestie. Proin justo ex, ultrices vitae imperdiet non, pharetra sit amet nisl. Aliquam at lacinia leo, nec congue odio.</p>
  </div>
  <div id="arrow" class="animate__animated animate__fadeInUp">
    <i class="fa-solid fa-chevron-down fa-beat"></i>
  </div>
</div>

<div class="p-container" id="projects">
  <h2 data-aos="zoom-in" class="headline">PROJECTS</h2>
  <div class="proj" data-aos="zoom-in"></div>
  <div class="proj" data-aos="zoom-in"></div>
  <div class="proj" data-aos="zoom-in"></div>
  <div class="proj" data-aos="zoom-in"></div>
  <div class="proj" data-aos="zoom-in"></div>
  <div class="proj" data-aos="zoom-in"></div>
</div>

<%= render "bg" %>
