
:root {
  --v1: #1c7aa3;
  --v2: #1c7aa3;
  --v3: #1c7aa3;
  --transparentv3: #5e30d900;
  --v4: #3b1895;
  --s1: #cffaec;
  --s2: #a5e8fb;
  --cloud: #fea798;
}
*,
*:before,
*:after {
  //animation:none!important;
}
.landscape:after,
.landscape:before,
.landscape *,
.landscape *:after,
.landscape *:before {
  position: absolute;
}



.landscape {
  height: 80vh;
  width: 100vw;
  // background-image: linear-gradient(var(--v1), var(--s1), #be91c600);
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.splash {
  width: 8vmin;
  height: 3vmin;
  border: 2px solid aliceblue;
  box-shadow: 0 0 2px aliceblue;
  border-radius: 50%;
  bottom: 5vmin;
  left: 70%;
  animation: splash 9s infinite;
  transform: scale(0);
}

.splash-stone {
  bottom: 15vh;
  left: -3vmin;
  height: 10vmin;
  width: 30vmin;
}

.splash-4 {
  bottom: 5vmin;
  left: auto;
  bottom: 15vmin;
  right: -2vmin;
}

@keyframes splash {
  50%,
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.delay-1 {
  animation-delay: 1s;
}
.delay-2 {
  animation-delay: 2s;
}
.delay-3 {
  animation-delay: 3s;
}
.delay-4 {
  animation-delay: 4s;
}
.delay-5 {
  animation-delay: 5s;
}
.delay-6 {
  animation-delay: 6s;
}

