
:root {
  --v1: #1c7aa3;
  --v2: #1c7aa3;
  --v3: #1c7aa3;
  --transparentv3: #5e30d900;
  // --v4: #189595;
  --v4: #005377;
  --s1: #cffaec;
  --s2: #a5e8fb;
  --cloud: #fea798;
}
*,
*:before,
*:after {
  //animation:none!important;
}
.landscape:after,
.landscape:before,
.landscape *,
.landscape *:after,
.landscape *:before {
  position: absolute;
}


.landscape {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(var(--v1), var(--s1), #be91c600);
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.mountain {
  border-radius: 180% 80% 0% 0%/60vmin 60vmin 0% 0%;
  width: 40vmin;
  height: 30vmin;
  bottom: 50%;
  left: -10vmin;
  background: var(--s1);
  background-image: linear-gradient(var(--v1), var(--v4) 30%, var(--v3));
  box-shadow: inset -10px 0 10px -10px var(--s1);
  &:before {
    content: "";
    bottom: 0;
    width: inherit;
    height: inherit;
    background: inherit;
    border-radius: inherit;
    transform-origin: bottom center;
    transform: scaleX(1) scaleY(-0.6);
    filter: blur(10px);
  }
}

.mountain-2 {
  left: 15vmin;
  height: 15vmin;
  width: 40vmin;
  box-shadow: inset -15px 0 10px -14px var(--s1);
  border-radius: 120% 50% 0% 0%/25vmin 25vmin 0% 0%;
  background-image: linear-gradient(var(--v3), var(--v4));
}

.mountain-3 {
  border-radius: 80% 0% 0 0/100% 100% 0 0;
  right: -50vmin;
  width: 100vmin;
  left: auto;
  height: 20vmin;
  color: var(--v3);
  background-image: linear-gradient(var(--v3), var(--v4));
  box-shadow: inset 15px 0 10px -10px var(--s1);
}

.mountain-3:after {
  content: "";
  border-radius: 60% 0 0 0/100% 0 0 0;
  background: inherit;
  width: 100%;
  height: 0;
  bottom: 0;
  right: 20%;
}

.splash {
  width: 8vmin;
  height: 3vmin;
  border: 2px solid aliceblue;
  box-shadow: 0 0 2px aliceblue;
  border-radius: 50%;
  bottom: 5vmin;
  left: 70%;
  animation: splash 9s infinite;
  transform: scale(0);
}

.splash-stone {
  bottom: 15vh;
  left: -3vmin;
  height: 10vmin;
  width: 30vmin;
}

.splash-4 {
  bottom: 5vmin;
  left: auto;
  bottom: 15vmin;
  right: -2vmin;
}

@keyframes splash {
  50%,
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.delay-1 {
  animation-delay: 1s;
}
.delay-2 {
  animation-delay: 2s;
}
.delay-3 {
  animation-delay: 3s;
}
.delay-4 {
  animation-delay: 4s;
}
.delay-5 {
  animation-delay: 5s;
}
.delay-6 {
  animation-delay: 6s;
}

