@import "components/waterdrop";

body,
html{
  margin: 0;
  padding: 0;
  overflow: y-scroll;
  height: 100%;
}

.container{
  z-index: 5;
}

#bg {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100vw;
}

svg{
  width: 100vw;
}

#navbar{
  width: 100vw;
  position: fixed;
  top: 0;
  height: 70px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

h1{
  font-family: 'Noto Sans Tagalog', sans-serif;
  width: 100vw;
  margin: 0 auto;
  color: aliceblue;
}
