@import "components/waterdrop";
@import "components/navbar";
@import "components/landscape";
@import "components/maincard";
@import "components/projects";

@import "font-awesome";

$c1: #e0e1dd;
$c2: #778da9;
$c3: #415a77;
$c4: #1b263b;
$c5: #0d1b2a;

body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

#bg {
  z-index: -5;
  position: absolute;
  top: 0;
  width: 100vw;
  top: -40vmin;
}

