@import "components/waterdrop";
@import "components/navbar";
@import "components/landscape";
@import "components/maincard";
@import "components/projects";

@import "font-awesome";

body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

#bg {
  z-index: -5;
  position: absolute;
  top: 0;
  width: 100vw;
  top: -40vmin;
}

